$font-family: "Cabin", sans-serif;

$box-shadow: rgba(100, 100, 111, 0.2 ) 0px 7px 29px 0px;

$body-bg: #000;
$secondary-bg: #1e1d25;
$main-color: #AF00FD;
$txt-color: #fff;

$header-height: 5.5rem;
$header-shrink-height: 5rem;
$border-radius: 5px;
$mobile-width: 600px;
$tablet-width: 1024px;

